// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++ GLOBAL SETTINGS ++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// ------------------------------------- Block body setings ------------------------------------
$bodyWidth: 100%; // Ширина блока body
$bodyHeight: 100%; // Высота блока body

// ------------------------------------- Container setings -------------------------------------
$containerWidth: 1100px; // Ширина контейнера
$containerPadding: 20px; // Отступы безопасности

// ------------------------------------- Breakpoint setings ------------------------------------
$pc: 1199.98px; // Брекпоинт для ПК
$tablet: 991.98px; // Брекпоинт для Планшета
$mobile: 767.98px; // Брекпоинт для Телефона
$mobileSmall: 479.98px; // Брекпоинт для мини телефона

// --------------------------------------- Text settings ---------------------------------------
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif; // Семейство шрифтов по умолчанию
$colorText: rgb(0, 0, 0); // Цвет текста по умолчанию
$fontSize: 16px; // Размер шрифта по умолчанию (задаётся в: px, em, rem, vw, vh, %)
$lineHeight: 1; // Межстрочный интервал (задаётся в единицах: px, em, rem, vw, vh, %)
$fontStyle: normal; // Начертание шрифта (normal, italic, oblique)
$fontWeight: 400; // Насыщенность шрифта (100-900)
$textAlign: left; // Горизонтальное выравнивание текста (start, end, left, right, center, justify)
$textTransform: none; // Регистр текста (none, uppercase, lowercase, capitalize)
$letterSpacing: normal; // Интервал между символами (norma, px, em, rem, vh, vw)

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// ----------------------------------------------------------------------------------------------

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++ HEADER SETTINGS ++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// -------------------------------------- Header settings ---------------------------------------
$sizeHeader: 60px; // Размер header
$bgColorHeader: #c2c2c2; // Задний фон header
$shadowColorHeader: #11111180; // Цвет тени header
$shadowHeightHeader: 2px; // Размер тени header
$shadowBlurHeader: 5px; // Размытие тени header
$shadowIncreaseHeader: 0px; // Распространение тени header

// ----------------------------------- Header menu settings ------------------------------------
$marginTopMenu: 20; // Отступ пунктов меню от блока header (!!! указывать без ед. измерения !!!)
$colorMenu: #161515; // Цвет текста меню
$textTransformMenu: uppercase; // Регистр пунктов меню (none, uppercase, lowercase, capitalize)
$fontSizeMenu: 20px; // Размер шрифта текста меню (задаётся в: px, em, rem, vw, vh, %)
$paddingTextMenu: 30px; // Размер отступа пунктов меню (задаётся в: px, em, rem, vw, vh, %)

// ------------------------------------ Header logo settings ------------------------------------
$showLogoHeader: yes; // Что бы убрать логотип прописываем: no
$borderLogoHeader: 50%; // Скругление углов логотипа
$sizeLogo: 50px; // размер лого

// ------------------------------------ Burger icon settings ------------------------------------
$selectBurger: 1; // Выбрать дизайн иконки бургера (от 1 до 6, ОБЯЗАТЕЛЬНО указать стиль бургера в HTML))
$selectDevice: $mobile; // На каком устройстве должен появится бургер ($pc, $tablet, $mobile, $mobileSmall)
$colorBurger: #000000; // Выбрать цвет иконки бургера (по умолчанию: #000)
$sizehBurger: 40px; // Выбрать размер иконки бургера в px (по умолчанию: 16px)
$weightBurger: 400; // Выбрать толшину линий бургера (выбрать: 400, 700, 900 (по умолчанию: 900))
$speed: 3; // Задать скорость анимации иконки бургера (выбрать от 1 до 4 (по умолчанию: 3))
$side: left; // Выбрать сторону анимации иконки бургера (left или right (по умолчанию: left))

// ----------------------------------- Burger menu settings ------------------------------------
$menuExitSide: top; // Выбрать сторону вылета меню бургер (left, right, top, bottom (по умолчанию: top))
$bgColorBurgerMenu: #f8f8f8e7; // Задний фон меню бургер
$colorBurgerMenu: #346620; // Цвет текста меню бургер
$textTransformBurgerMenu: uppercase; // Регистр пунктов меню бургер (none, uppercase, lowercase, capitalize)
$fontSizeBurgerMenu: 50px; // Размер шрифта текста меню бургер (задаётся в: px, em, rem, vw, vh, %)
$textAlignBurgerMenu: center; // Горизонтальное выравнивание текста (start, end, left, right, center, justify)
$paddingTextBurgerMenu: 15px; // Размер отступа текста меню бургер (задаётся в: px, em, rem, vw, vh, %)
$speedExitMenuBurger: 5; // Скорость вылета меню бургер (от 1 до 9)

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// ----------------------------------------------------------------------------------------------
