@import "_settings";

.header {
    // -------------------- Фиксированный header --------------------
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 0px $shadowHeightHeader $shadowBlurHeader $shadowIncreaseHeader $shadowColorHeader;
    // --------------------------------------------------------------
    // ------------------------- Фон header -------------------------
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgColorHeader;
        z-index: 2;
    }
    // -------------------------------------------------------------

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $sizeHeader;
    }

    &__logo {
        // --------------------- Настройки лого ----------------------
        position: relative;
        @if $showLogoHeader == no {
            // Если будет no, то логотип будет скрыт
            display: none;
        }
        flex: 0 0 $sizeLogo; // устанавливаем размер лого
        border-radius: $borderLogoHeader; // делаем лого в виде круга
        overflow: hidden; // скрываем все что выходит за рамки круга
        z-index: 3;

        img {
            max-width: 100%; // размер лого подстраивается
            display: block; //сглаживает лого
        }
        // ----------------------------------------------------------
    }

    &__burger {
        z-index: 3;
    }

    &__menu {
        @media (max-width: $selectDevice) {
            position: fixed;
            overflow: auto;

            // ----------- Menu Burger Exit Side -----------
            @if $menuExitSide == top {
                top: -100%;
                left: 0;
            } @else if $menuExitSide == bottom {
                bottom: -100%;
                left: 0;
            } @else if $menuExitSide == left {
                left: -100%;
                top: 0;
            } @else if $menuExitSide == right {
                right: -100%;
                top: 0;
            } @else {
                top: -100%;
                left: 0;
            }
            // ============================================

            width: 100%; // меню бургера на всю ширину экрана
            height: 100%; // меню бургера на всю высоту экрана
            background-color: $bgColorBurgerMenu;
            text-align: $textAlignBurgerMenu;
            transition: all 0.1 * $speedExitMenuBurger + s ease 0s;

            &.open {
                // --------- Сторона вылета меню бургер ---------
                @if $menuExitSide == top {
                    top: 0;
                } @else if $menuExitSide == bottom {
                    bottom: 0;
                } @else if $menuExitSide == left {
                    left: 0;
                } @else if $menuExitSide == right {
                    right: 0;
                } @else {
                    top: 0;
                }
                // ============================================
            }
        }
    }

    // ---------------- Настройка пунктов меню ----------------
    &__list {
        display: flex;
        position: relative;
        z-index: 3;
        li {
            padding: 0px 0px 0px $paddingTextMenu;
            &:first-child {
                padding: 0px 0px 0px 0px; // Удаление отступа у первого пункта меню
            }
        }

        @media (max-width: $selectDevice) {
            display: block;
            margin: $sizeHeader + $marginTopMenu 0px 0px 0px;
            li {
                padding: $paddingTextBurgerMenu 10px;
                &:first-child {
                    padding: $paddingTextBurgerMenu 10px; // Удаление отступа у первого пункта меню
                }
            }
        }
    }

    &__link {
        color: $colorMenu;
        font-size: $fontSizeMenu;
        text-transform: $textTransformMenu;

        @media (max-width: $selectDevice) {
            color: $colorBurgerMenu;
            font-size: $fontSizeBurgerMenu;
            text-transform: $textTransformBurgerMenu;
        }
    }
    // -------------------------------------------------------
}
